<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Minimal example</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link href="static/css/index.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="accordion accordion-flush first-top-element" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button aria-controls="flush-collapseOne" aria-expanded="false"
                                class="accordion-button collapsed"
                                data-bs-target="#flush-collapseOne" data-bs-toggle="collapse" type="button">
                            1. Task title and tag
                        </button>
                    </h2>
                    <div aria-labelledby="flush-headingOne" class="accordion-collapse collapse"
                         data-bs-parent="#accordionFlushExample"
                         id="flush-collapseOne">
                        <div class="accordion-body">
                            <div class="col align-self-center">
                                <div id="task-tag-and-title">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <textarea class="form-control " name="input" placeholder="Task title"
                                                  style="width:50%" id="task-title"></textarea>
                                        <textarea class="form-control " name="output" placeholder="Task tag"
                                                  style="width:50%" id="task-tag"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button aria-controls="flush-collapseTwo" aria-expanded="false"
                                class="accordion-button collapsed"
                                data-bs-target="#flush-collapseTwo" data-bs-toggle="collapse" type="button">
                            2. Task statement
                        </button>
                    </h2>
                    <div aria-labelledby="flush-headingTwo" class="accordion-collapse collapse"
                         data-bs-parent="#accordionFlushExample"
                         id="flush-collapseTwo">
                        <div class="accordion-body">
                            <div class="col align-self-center">
                                <textarea id="task-content"></textarea>
                                <p id="mathjax-buffer" style="display:none;"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button aria-controls="flush-collapseThree" aria-expanded="false"
                                class="accordion-button collapsed"
                                data-bs-target="#flush-collapseThree" data-bs-toggle="collapse" type="button">
                            3. Create a sample test
                        </button>
                    </h2>
                    <div aria-labelledby="flush-headingThree" class="accordion-collapse collapse"
                         data-bs-parent="#accordionFlushExample"
                         id="flush-collapseThree">
                        <div class="accordion-body">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <textarea class="form-control " name="input" placeholder="Input"
                                          style="width:50%" id="example-input"></textarea>
                                <textarea class="form-control " name="output" placeholder="Output"
                                          style="width:50%" id="example-output"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button aria-controls="flush-collapseFour" aria-expanded="false"
                                class="accordion-button collapsed"
                                data-bs-target="#flush-collapseFour" data-bs-toggle="collapse" type="button">
                            4. Add more tests!
                        </button>
                    </h2>
                    <div aria-labelledby="flush-headingFour" class="accordion-collapse collapse"
                         data-bs-parent="#accordionFlushExample"
                         id="flush-collapseFour">
                        <div class="accordion-body" id="accordion-tests">
                            <div id="tests-inputs">
                                {% for test in [1, 2, 3, 4] %}
                                <div class="input-group" style="width: 100%">
                                    <textarea class="form-control input" name="input" placeholder="Input"
                                              style="width:40%"></textarea>
                                    <textarea class="form-control output" name="output" placeholder="Output"
                                              style="width:40%"></textarea>
                                    <button type="button" class="btn btn-default remove-single-test" aria-label="Left Align">
                                        <span class="fa fa-trash-o fa-lg" aria-hidden="true"></span>
                                    </button>
                                </div>
                                {% endfor %}
                            </div>
                            <button type="button" class="btn btn-default" id="add-more-tests" aria-label="Add more tests.">
                                <span class="fa fa-plus fa-lg" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card first-top-element">
                <div class="card-body">
                    Click to expand!
                </div>
            </div>
            <input class="btn btn-primary button-submit" style="width: 100%" type="submit" value="Download problem package">
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script crossorigin="anonymous"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js" integrity="sha512-ksSfTk6JIdsze75yZ8c+yDVLu09SNefa9IicxEE+HZvWo9kLPY1vrRlmucEMHQReWmEdKqusQWaDMpkTb3M2ug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../static/guides.js"></script>

</html>
